{{ $is_list := .is_list }}
{{ $ := .content }}

{{ if $is_list }}
<a class="btn btn-primary btn-outline btn-xs" href="{{ $.Permalink }}">{{ i18n "publicationDetails" }}</a>
{{ end }}

{{ with $.Params.url_official }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationOfficial" }}</a>{{ end }}
{{ with $.Params.url_pdf }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationPDF" }}</a>{{ end }}
{{ with $.Params.url_slides }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationSlides" }}</a>{{ end }}
{{ with $.Params.url_video }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationVideo" }}</a>{{ end }}
{{ with $.Params.url_code }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationCode" }}</a>{{ end }}
{{ with $.Params.url_dataset }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationDataset" }}</a>{{ end }}
{{ with $.Params.url_project }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationProject" }}</a>{{ end }}
{{ with $.Params.url_poster }}<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">{{ i18n "publicationPoster" }}</a>{{ end }}

{{ range $.Params.url_custom }}
<a class="btn btn-primary btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ .url | absURL }}">{{ .name }}</a>
{{ end }}
